body {
    background-color: #f4f4f4;
}

footer {
    background-color: #333333;
}
main {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}
header{
    background-color: blue;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}
header h1{
    color: white;
    text-align: center;
}
header nav{
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    word-spacing: 30px;
}
header a{
    border: 1px solid black;
    color: white;
}
